<configuration>
    <springProperty scope="context" name="rabbitmq.host" source="rabbitmq.host"/>
    <springProperty scope="context" name="rabbitmq.queueName" source="rabbitmq.queueName"/>

    <appender name="RABBITMQ" class="com.example.ecommercesystem.config.RabbitMQLogAppender">
        <host>${rabbitmq.host}</host>
        <queueName>${rabbitmq.queueName}</queueName>
    </appender>

    <root level="INFO">
        <appender-ref ref="RABBITMQ" />
    </root>
</configuration>